html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
body
{
//font: 12px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;    
font-family: Arial;
background: rgb(61,164,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzZGE0ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWMzMzkwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-radial-gradient(center, ellipse cover,  rgba(61,164,255,1) 0%, rgba(28,51,144,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(61,164,255,1)), color-stop(100%,rgba(28,51,144,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(61,164,255,1) 0%,rgba(28,51,144,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(61,164,255,1) 0%,rgba(28,51,144,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(61,164,255,1) 0%,rgba(28,51,144,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(61,164,255,1) 0%,rgba(28,51,144,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3da4ff', endColorstr='#1c3390',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */


  -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
	cursor: default;
}

#logForm{
	width: 200px;
	height: 150px;
	display: none;
	margin: 0 auto;
	text-align: center;
	border: 1px dashed white;
	border-top:0px;
	background:rgba(32,79,127,0.2);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#logForm input[type="password"],input[type="input"]{width: 180px;height: 30px;margin-top: 20px;border: 0px;padding: 5px;border-radius: 4px}
#logForm input[type="button"]{width:100px;height: 30px; border: 1px solid #C54848;background: #FE5E5E;color:#ffffff;border-radius: 5px;margin-top: 10px;cursor: pointer;}
h1{display: block;top: 50%;left:50%;position: absolute;font-size: 3.9rem;width: 350px;height: 80px;margin-top: -40px;margin-left: -175px;color: #ffffff;}
h1 span{font-size: 1.0rem;display: block;margin-left: 15px}