.ddsmoothmenu{font: bold 14px; margin:0px 0 0 230px; padding-top:66px;}
.ddsmoothmenu ul{z-index:100;margin:0px;padding: 0;list-style-type: none;}
.ddsmoothmenu ul li{position: relative;display: inline;float: left;}
.ddsmoothmenu ul li a{display: block;padding: 8px 10px;text-decoration: none;}
* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/display: inline-block;}
.ddsmoothmenu ul li a:hover{background-color: #E9E9E9; color: #B51118;}
.ddsmoothmenu ul li ul{position: absolute;left: 0; margin-top: -2px; display: none; visibility: hidden;opacity: 0.9;}
.ddsmoothmenu ul li ul li{display: list-item;float: none;}
.ddsmoothmenu ul li ul li a{ color:#FFF;}
.ddsmoothmenu ul li ul li ul{top: 0;}
.ddsmoothmenu ul li ul li a{font: normal 14px; width: 220px;padding: 5px;margin: 0;border-top-width: 0;background-color:#71767C;text-transform:none;}

.ordermenu1{font: bold; margin:0 auto; width:20px; }
.ordermenu1 ul{z-index:100;margin:0px;padding: 0;list-style-type: none;}
.ordermenu1 ul li{position: relative;display: inline;float: left;}
.ordermenu1 ul li a{display: block;text-decoration: none;}
* html .ordermenu1 ul li a{ /*IE6 hack to get sub menu links to behave correctly*/display: inline-block;}
.ordermenu1 ul li a:hover{ color: #B51118;}
.ordermenu1 ul li ul{position: absolute;left: 0; margin-top: -8px; display: none; visibility: hidden;opacity: 0.9;}
.ordermenu1 ul li ul li{display: list-item;float: none; background-color:#CCC;}
.ordermenu1 ul li ul li a{font: normal 14px; width: 160px;padding: 5px;margin: 0;border-top-width: 0;text-transform:none;}
.ordermenu1 ul li ul li a:hover{background-color:#E9E9E9;}

#neworder{}
#neworder ul{z-index:100;margin:0px;padding: 0;list-style-type: none; }
#neworder ul li{position: relative;display: inline;float: left; margin-left:0;}
* html #neworder ul li a{ /*IE6 hack to get sub menu links to behave correctly*/display: inline-block;}
#neworder ul li a:hover{background-color: #fff; color: #B51118;}
#neworder ul li ul{position: absolute;display: none; visibility: hidden;left:0; margin-top:48px;border-radius:3px;}
#neworder ul li ul li{float: none; text-align:left;}
#neworder ul li ul li a{ color:#71767C;}
#neworder ul li ul li ul{top: 0;}
#neworder ul li ul li a{font: normal 14px; width: 220px;padding: 5px;margin: 0;border-top-width: 0;background-color:#f2f2f2;text-transform:none; border-radius:0;}