.bg {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	/*background-color: rgba(255,255,255,0.7);*/
	background-color: rgba(0,0,0,0.7);
	z-index: 1001;
	display: none;
}
.ul-1 {
	
}
.advance-windows-1,
.advance-windows-2{
	position: fixed;
	background-color: #f2f2f2;
	z-index: 1002;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.56);
}
.advance-windows-1 h2,
.advance-windows-2 h2{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 10px 0px;
	color: #fff;
	background-color: #4D666B;
	margin: 0px;
	font-weight: 100;
	border-radius: 2px 2px 0px 0px;
	font-size: 1rem;
	cursor: default;
}
.advance-windows-1 .manager,
.advance-windows-2 .manager{
	margin-bottom: 10px;
	padding: 10px;
	background-color: #fff;
}



		.advance-windows-1 {
			width: 400px;
			height: 300px;
			top: 50%;
			left: 50%;
			margin-left: -200px;
			margin-top: -150px;
		}
		.advance-windows-1 .manager {
			width: 380px;
			height: 190px;
		}
		
		.advance-windows-2 {
			width: 800px;
			height: 500px;
			top: 50%;
			left: 50%;
			margin-left: -400px;
			margin-top: -250px;
		}
		.advance-windows-2 .manager {
			width: 780px;
			height: 390px;
		}




.advance-block-btn {
	text-align: center;
	width: 100%;	
}
.h2-1 {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 10px 0px;
	color: #fff;
	background-color: #4D666B;
	margin: 0px;
	font-weight: 100;
	border-radius: 2px 2px 0px 0px;
	font-size: 1rem;
	cursor: default;
}