.advance-btn-1 {
	display: inline-block;
	padding: 7px;
	border: 0px;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	background-color: #91D048;
	text-transform: uppercase;
	font-size: 0.8rem;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
.advance-btn-1:hover {
	background-color: #8BC34A;
}
.advance-btn-2:hover {
	background-color: #F8A032;
}
.advance-btn-4:hover {
	background-color: #484848;
}
.advance-btn-2 {
	display: inline-block;
	padding: 7px;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 0.8rem;
	text-decoration: none;
	background-color: #F85032;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
.advance-btn-4 {
	display: inline-block;
	padding: 7px;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 0.8rem;
	text-decoration: none;
	background-color: #70716F;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
.advance-btn-3 {
	display: inline-block;
	padding: 7px;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	background-color: #F85032;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
.advance-input-1 {
	border-radius: 0px;
	padding: 5px;
	border: 1px solid #C5C5C5;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.advance-input-1:hover {
	border: 1px solid #a9a9a9;
}
.font-08 {
	font-size: 0.8rem;
}