@media (max-width: 480px) {
	#header {
		width: 100%;
		height: 200px;
		background-color: red;
		margin-bottom: 10px;
	}
	#menu-left {
		display: none;
	}
	#content-right {
		width: 100%;
		float: left;
	}
	#content-right .coin {
		width: 100%;
		height: 200px;
		background-color: red;
		display: inline-block;
		float: left;
		margin-bottom: 5px;
	}
	#footer {
		width: 100%;
		height: 300px;
		margin-top: 20px;
		float: left;
		background-color: red;
	}
}
@media (min-width: 480px) {
	#header {
		width: 100%;
		height: 300px;
		margin-bottom: 20px;
		background-color: red;
	}
	#menu-left {
		display: none;
	}
	#content-right {
		width: 100%;
		float: left;
	}
	#content-right .coin {
		width: 48%;
		height: 300px;
		background-color: red;
		display: inline-block;
		float: left;
		margin: 0px 2% 4% 0px;
	}
	#content-right .coin:nth-child(2n){
		margin: 0px 0px 4% 2%;
	}
	#footer {
		width: 100%;
		height: 300px;
		margin-top: 20px;
		float: left;
		background-color: red;
	}
}
@media (min-width: 650px) {
	#header {
		width: 100%;
		height: 200px;
		background-color: red;
	}
	#menu-left {
		float: left;
		width: 30%;
		background-color: red;
		height: 400px;
	}
	#content-right {
		width: 70%;
		float: left;
	}
	#content-right .coin {
		width: 300px;
		height: 300px;
		background-color: red;
		display: inline-block;
		float: left;
		margin: 5px 0px 0px 5px;
	}
	#content-right .coin:nth-child(2n){
		margin: 0px 0px 4% 2%;
	}
	#footer {
		width: 100%;
		height: 300px;
		float: left;
		margin-top: 20px;
		background-color: red;
	}
}
@media (min-width: 980px) {
	#body {
		max-width: 1920px;
		margin: 0 auto;
	}
	#header {
		width: 100%;
		height: 200px;
		background-color: red;
	}
	#menu-left {
		float: left;
		display: block;
		width: 30%;
		background-color: red;
		height: 400px;
	}
	#content-right {
		width: 70%;
		text-align: center;
		float: left;
	}
	#content-right .coin {
		width: 300px;
		height: 200px;
		background-color: red;
		display: inline-block;
		float: left;
		margin: 0px 0px 10px 10px;
		position: relative;
	}
	#content-right .coin .img {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	#content-right .coin .desc {
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 100%;
		z-index: 3;
	}
	#content-right .coin .desc:hover .more {
		bottom: 0px;
	}
	#content-right .coin .desc .desc-h2 {
		display: inline-block;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		padding: 10px 0px;
		background-color: rgba(117, 208, 71, 0.59);
		color: #fff;
		font-family: sans-serif;
	}
	#content-right .coin .desc .more {
		display: inline-block;
		position: absolute;
		bottom: -40px;
		left: 0px;
		width: 100%;
		padding: 10px 0px;
		background-color: rgba(0,0,0,0.6);
		color: #fff;
		font-family: sans-serif;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		cursor: pointer;
		text-transform: uppercase;
	}
	#content-right .coin .img img {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
	}
	#content-right .coin:nth-child(2n){
		margin: 0px 0px 10px 10px;
	}
	#footer {
		float: left;
		width: 100%;
		height: 300px;
		margin-top: 20px;
		background-color: red;
	}
}